div.tabView {
  display: flex;
  height: calc(100vh - 40px);
  margin-top: 40px;

  >div.pane {

    flex-basis: 100%;
    //Borders in between tabs
    &:not(:last-child) {
      border-right: 2px solid rgb(100, 100, 100);
    }
    &.focused {
      border-color: rgb(100, 100, 150);
    }
    //Color the focused tab
    &.focused>div.topBar {
      background-color: rgb(100, 100, 150);
    }

    >div.topBar {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: rgb(100, 100, 100);
      // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      height: 25px;
      display: flex;
      justify-content: space-between;
      >div.tabButtons {
        display: flex;
        align-items: center;
        width: calc(100% - 80px);
        overflow-x: hidden;
        >div.tabButton {
          &:not(:last-child) {
            border-right: 1px solid rgb(200, 200, 200);
          }
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 25px;
          width: 100px;
          background-color: white;
          &:not(.active) {
            background-color: rgb(220, 220, 220);
            cursor: pointer;
          }
          font-size: 12px;
          padding: 0 10px;
          >span.title {
            width: 75%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          >div.closeButton {
            >svg {
              font-size: 12px;
              color: rgb(30, 30, 30);
            }
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
      >div.paneControls {
        height: 100%;
        display: flex;
        >div {
          width: 35px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          >svg {
            font-size: 12px;
            color: white;
          }
        }
      }
    }
    >div.content {
      background-color: white;
      height: calc(100% - 25px);
      overflow-y: auto;
      overflow-x: auto;
    }
  }
}